{% extends "index.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Portfolio{% endblock %}



{% block pagecontent %}
<!-- Benefits of the Django application -->



<div class="text-page">

  <div class="page-header">
    <h1>Portfolio <small>categories</small></h1>
  </div>

  <div class="container-fluid bg-3 text-left">
   
    <!-- <div class="row"> -->
      {% for cat in categories %}
      <div class="col-sm-3">
        <div class="thumbnail">
          <a href="{% url 'portfolio:list-category' cat.id %}">
            <img src="{{ cat.image.url_200x200 }}" class="img-thumbnail" />
          </a>
          <div class="caption">
            <h3>{{ cat.name }} <div style="float:right;"><a href="{% url 'portfolio:list-category' cat.id %}" class="btn btn-primary" role="button">View &raquo;</a></div></h3>
            <p>{{ cat.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    <!-- </div> -->
  </div>
</div>

{% endblock pagecontent %}