{% extends 'index.html' %}

{% block extrahead %}

	{% if params %}
	<script type="text/coffeescript">


		window.FRACTAL_DIMENSION = {{ params.0 }}
		window.TRAPEZOIDAL_SECTIONS = {{ params.1 }}
		window.CHILDREN = {{ params.4 }}
		window.DEGREE1_COEFF = {{ params.2 }}
		window.DEGREE2_COEFF = {{ params.3 }}



	</script>
	{% endif %}


	<script type="text/javascript">

	
	$(document).ready(function () {
		$("#maincontent").remove();
	    $("iframe").each(function () {
	        //Using closures to capture each one
	        var iframe = $(this);
	        iframe.on("load", function () { //Make sure it is fully loaded
	            iframe.trigger("click");
	        });

	        iframe.click(function () {
	            iframe.focus();
	        });
	    });
	});

	</script>
	

	<!-- <script type="{{ item.script_mime_type }}" src="{{ item.urlpath }}"></script> -->
	
{% endblock %}


{% block pagecontent %}

{% endblock %}