{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block extrahead %}

<!-- <script type="text/javascript" src="{% static 'site/js/jQuery2.1.1.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'site/js/prism/prism.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'site/js/maze-bg/class.Maze.js' %}"></script> -->
<!-- `<script type="text/javascript" src="{% static 'site/js/maze-bg/class.MazeSolver.js' %}"></script> -->
<!-- `<script type="text/javascript" src="{% static 'site/js/MathJax2.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML' %}"> -->
</script>

<!--
<script type="text/x-mathjax-config">
     MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
-->
{% endblock %}





{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}






{% block container %}

<div class="container-fluid">
    
    <div class="row row-offcanvas row-offcanvas-left active">
      
       <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
         
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        
      </div><!--/span-->
      




<div class="col-sm-9 col-md-10 main">
  
  <!--toggle sidebar button-->
  <p class="visible-xs">
    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
      <i class="glyphicon glyphicon-chevron-left"></i></button>
  </p>
  




  <div class="row placeholders">
    {% for cat in categories %}
      <div class="col-xs-6 col-sm-4 placeholder text-center">
        <div class="displaybox">
          <a href="{% url 'portfolio:list-category' cat.name %}">
            <img class="center-block img-responsive thumbnail" src="{{ cat.image.url_200x200 }}" />
          </a>
          
          <h4>{{ cat.name }}</h4>
          <span class="text-muted">{{ cat.short_description }}</span>
        </div>
      </div>
    {% endfor %}  
  </div>
 
         
          
      </div><!--/row-->
  </div>
</div>




        

{% endblock container %}

{% block scripts %}

{% endblock scripts %}


{% block footer %}

{% endblock %}

{% block bigcanvas %}
    <canvas id="big-canvas"></canvas>
{% endblock bigcanvas %}