{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block extrahead %}

<!-- <script type="text/javascript" src="{% static 'site/js/jQuery2.1.1.js' %}"></script> -->
<script type="text/javascript" src="{% static 'site/js/prism/prism.js' %}"></script>
<script type="text/javascript" src="{% static 'site/js/maze-bg/class.Maze.js' %}"></script>
<script type="text/javascript" src="{% static 'site/js/maze-bg/class.MazeSolver.js' %}"></script>
<script type="text/javascript" src="{% static 'site/js/MathJax2.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML' %}">
</script>

<script type="text/x-mathjax-config">
     MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>



<script type="text/javascript">
        
    var Maze;
    var Canvas;
    var ctx;
    var solver;

    function startMaze() {

        var cellSize = 15;

        Canvas = document.getElementById('headermaze');
        Canvas.width = $(window).width();
        //Canvas.height = $(window).height();

        var mx = Math.floor((Canvas.width) / cellSize);
        var my = Math.floor((Canvas.height) / cellSize);

        //document.body.appendChild(Canvas);
        ctx = Canvas.getContext("2d");
        //ctx = document.getCSSCanvasContext("2d", "mazecanvas", 

        Maze = new Maze(2, mx, my, cellSize);
        Maze.frameInterval = setInterval(Maze.renderStep, 50);

        $("#neen-search").click(function() {
            neenSearch();
        });

    }

    $(function() {
        $('pre').each(function() {
            var text = $(this).html();
            var m = text.match(/\%\%[^\%]+\%\%/);
            if (m) {
                var lang = m[0].split('%').join('');
                var code = document.createElement('code');
                $(code).addClass('language-'+lang);
                $(code).css('white-space', 'pre');
                $(this).text('');
                $(code).text(
                    text.split(m[0]).join('')
                    .split('<br>').join("\n")
                    .split('&nbsp;').join(' ')
                    .split('&amp;').join('&')
                    .split('&lt;').join('<')
                    .split('&gt;').join('>')
                    );
                $(this).replaceWith($(code));
            }
        });
    });
   
    // var greyout = function() {
        
    //     $('#greyout').css({
    //         'height': $(document).height(),
    //         'display': 'block'
    //     });
    //     $('body').css({'overflow':'hidden'});
    // };
    // var removeGreyout = function() {
    //     $('#greyout').css({
    //         'height': '0px',
    //         'display': 'none'
    //     });
    //     $('body').css({'overflow':'visible'}); 
    // };

    // function neenSearch() {
    //     greyout();
    //     $("#big-search").css({
    //         'display': 'block',
    //         'top': (($(window).height() / 2)-100).toString() + 'px',
    //         'left': (($(window).width() / 2)-300).toString() + 'px',
    //     });
    //     $("#big-search").find("input")[0].focus();
    // }

    

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52345664-1', 'auto');
  ga('send', 'pageview');

</script>

{% endblock %}


{% block extrabodytag %}onload="startMaze();"{% endblock %}


{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <canvas id="headermaze" width="100%" height="400"></canvas>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>{% include "_brandname.html" %}</h1>
          <p>An interactive portfolio of the work of Nino P. Cocchiarella</p>
	  <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
        </div>
        <div class="col-md-4 col-sm-4">

        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

